
@media screen and (max-width: 982px) {
    .not-mobile {
		display: none;
	}

	.app-bar {
		height: 60px;
	}

	.not-web {
		display: block;
	}

	.container {
		padding: 6px;
	}
}

@media screen and (min-width: 982px) {
    .not-web {
		display: none;
	}
}